{% extends 'base.html' %}
{% block content %}
<head>
    <title>Entrada</title>
</head>

<!-- {{username.as_p}} -->
<body>
    <h1 style="font-family: Arial, Helvetica, sans-serif;">Welcome {{request.user.username}}</h1>
    <h1>
        <style>
        div {
          background-color: lightgrey;
          width: 100px;
          height: 40px;
          border: 15px solid green;
          padding: 25px;
          margin: 15px;
        }
        </style>
    </h1>
    <div>{{date}}</div>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="entry" value="Entrada" style="background-color: green; font-size: 52px; border-radius: 4px; text-align: center;">Entrada</button></p></p></p>
        <button type="submit" name="exit" value="Exit" color="red" style="background-color: red; font-size:52px; border-radius: 4px; text-align: center;">Sa&iacute;da</button>
    </form>
</body>
{% endblock %}